
$blue200: #1AA3D5; // #1A9BE4;
$blue300: #0096d3;

$hover-blue: #31ABDE;

$green300: #00B0A1;

$gray200: #FAFCFE;

$light-transparent-white: rgb(255,255,255,0.5);
$dark-transparent-white: rgb(255,255,255,0.9);

$transparent-hover-white: $dark-transparent-white;